@import "reset.css";

a{
    text-decoration: none;
    
}
.menu{
    background-color: blue;
    
}
.menu>div>a{
    font-size: 50px;
    font-weight: bold;
    background-color: blue;
    display: inline-block;
    padding: 20px;
}
.menu>ul>li>ul{
    display: none;
    position: absolute;
}
.menu>ul li{
    color: azure;
    background-color: blue;
    display: inline-block;
}
.menu a{
    color: azure;
}
.menu ul>li:hover>ul{
    display: block;

  
}