@import url(reset.css);

a{
    text-decoration: none;
}

nav{
    background-color: #0059ab;
    position: fixed;
    width: 210px;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    padding: 0 20px;
    z-index: 1000;
}
.logo{
    padding: 20px 0;
    text-align: center;
}
/* 버튼태그와 검색폼 여백 없애기 */
/* 검색 모양 이쁘게 다듬기 */
.google-search{
    padding: 10px 0px 25px;
}
button{
        
}
/* 로그인/회원가입 */
.login-join{
    
}
.login-join ul{
    display: flex;
}
.login-join a{
    /* border 라인 수정하기 */
    border: 1px solid rgba(12, 21, 105, 0.849);
    color: white;
    font-size: 13px;
    font-weight: normal;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: none;
}


/* menu */
.menuWrap{
    padding: 50px 10px;


}
.menu>li{
    padding: 30px 0 30px 0;
}

.menu>li>a{
    color: white;
    font-weight: normal;
    font-size: 15px;  
}
/* github */
.github{
    text-align: left;
    padding: 50px 10px;
}
.github a{
    color: white;
    font-weight: normal;
    font-size: 15px; 
    border-left: 3px solid gray;

}
/* contents */
/* article */
article{
    position: relative;
    left: 250px;
    width: 805px;
}
.top-banner{
    text-align: center;
}
.top-article{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}
.board{
    padding-bottom: 20px;
    padding-top: 20px;
}
.board-title{
    font-weight: bold;
}
.board-list{
    border-top: 1px solid gray;
    border-left: 4px solid darkblue;
    border-right: 1px solid gray;
    
}
.board-list2{
    border-top: 1px solid gray;
    border-left: 4px solid darkblue;
    border-right: 1px solid gray;
}
.board-list>li{
    border-bottom: 1px solid gray;
    padding: 20px;
    width: 320px;
}
.board-list2>li{
    border-bottom: 1px solid gray;
    padding: 20px;
    width: 100;
    
}
.board-list>li>a{
    color: rgb(105, 102, 102);
}

/* left-section */
.left-section{
    padding: 20px;
    width: 450px;
}

/* 테크 */
.right-board{
    position: relative;
    left: 500px;
    width: 100px;
    bottom: 1600px;
}
.board3{
    padding-bottom: 20px;
    padding-top: 20px;
}

/* 오른쪽 배너 */
.right-banner{
    position: fixed;
    top: 65px;
    width: 180px;
    height: 550px;
    left: 1070px;
}

/* footer */
footer{
    position: relative;
    left: 250px;
    width: 805px;
    border-top: 2px solid black;
    padding: 30px;
}